<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%com.inventage.tools.versiontiger.ui.command.category.description"
            id="com.inventage.tools.versiontiger"
            name="%com.inventage.tools.versiontiger.ui.command.category.name">
      </category>
      <command
            categoryId="com.inventage.tools.versiontiger"
            description="%com.inventage.tools.versiontiger.ui.command.editVersion.description"
            id="com.inventage.tools.versiontiger.ui.command.editVersion"
            name="%com.inventage.tools.versiontiger.ui.command.editVersion.name">
      </command>
      <command
            categoryId="com.inventage.tools.versiontiger"
            description="%com.inventage.tools.versiontiger.ui.edit.runCommandFile.description"
            id="com.inventage.tools.versiontiger.ui.edit.runCommandFile"
            name="%com.inventage.tools.versiontiger.ui.edit.runCommandFile.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.inventage.tools.versiontiger.ui.command.editVersion"
               label="%com.inventage.tools.versiontiger.ui.command.editVersion.name"
               style="push"
               tooltip="%com.inventage.tools.versiontiger.ui.command.editVersion.description">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="+">
                     </count>
                     <iterate
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.inventage.tools.versiontiger.ui.edit.runCommandFile"
               label="%com.inventage.tools.versiontiger.ui.edit.runCommandFile.name"
               style="push"
               tooltip="%com.inventage.tools.versiontiger.ui.edit.runCommandFile.description">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="and">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="versiontiger">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.inventage.tools.versiontiger.ui.edit.EditVersionHandler"
            commandId="com.inventage.tools.versiontiger.ui.command.editVersion">
      </handler>
      <handler
            class="com.inventage.tools.versiontiger.ui.edit.RunCommandFileHandler"
            commandId="com.inventage.tools.versiontiger.ui.edit.runCommandFile">
      </handler>
   </extension>

</plugin>
